body{
    margin: 0;
    padding: 0;
    max-width: 1920px;
    max-height: 500px;
    display:flex;
    align-items:center;
    justify-content:center;
    align-items: center;
    
    font-family: sans-serif;

    background-color: #262626;


}

p{
    font-size: 12px;
    line-height: 1.0;
    text-align: justify;
    background:url(carelganda.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size:cover ;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-background-size: cover ;
    -webkit-text-fill-color: rgba(255,255,255,0); 

}
